@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

a {
  text-decoration: none;
}

body {
  letter-spacing: 1.5px;
  margin: 0;
  font-family: Circular, -apple-system, system-ui, Roboto, "Helvetica Neue", sans-serif;
  color: #484848;
}

li {
  list-style: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

/* header & footers */
.containers {
  max-width: 1350px;
  margin: 0 auto;
  width: 100%;
  padding: 0 10px;
}

header {
  max-width: 100%;
  width: 100%;
  height: 80px;
  z-index: 10;
  position: fixed;
  top: 0;
  background-color: #fff;
}

.button svg {
  display: none;
}

.header-left {
  line-height: 80px;
  display: inline-block;
  font-size: 16px;
}

.header-left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.header-left li {
  padding-left: 1rem;
}

.header-left li:first-child {
  padding-left: 0;
}

.header-left li:hover {
  text-decoration: underline;
}

.header-left li a {
  color: inherit;
}

.header-left svg {
  margin-top: 1rem;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  line-height: 45px;
  font-size: 16px;
}

.fa-question-circle {
  color: #aaa;
}

.header-right span {
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: .4px;
  padding-right: 1rem;
}

.head-btn {
  line-height: 75px;
}

.head-btn a {
  padding: 10px 20px;
  background-color: #FF5A5F;
  color: #fff;
  border-radius: 4px;
}

/* middle-top */
.middle-top {
  position: relative;
  z-index: 1;
  background-image: url(https://a0.muscache.com/pictures/9d08d356-59b9-4ac4-9f41-5b9c13c2b211.jpg);
  background-size: cover;
  background-position: center;
  max-width: 100%;
  width: auto;
  height: 1000px;
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* flexとmargin autoの組み合わせ */
}

.middle-top::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  content: '';
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(transparent), color-stop(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.7)));
  background: -webkit-linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
  background: -o-linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
  background: linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
  z-index: -1;
}

.level {
  background-color: #fff;
  width: 500px;
  height: auto;
  border-radius: 4px;
  margin-left: auto;
  padding: .5rem 1.5rem 1.5rem 1.5rem;
}

.level-top h2 {
  font-size: 43px;
  letter-spacing: -.6px;
}

.level-bt {
  background-color: #fff;
  width: 500px;
  height: auto;
  border-radius: 4px;
  margin: .3rem 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.level-bt img {
  margin-top: 2rem;
  margin-left: .5rem;
}

.level-bt p {
  padding-left: .5rem;
}

.level-bt span {
  font-weight: bold;
}

/* input */
.level-input input {
  width: 100%;
  display: inline-block;
  padding: 13px 23px 13px 13px;
  font-size: 16px;
  border-radius: 4px;
  color: #484848;
  margin-bottom: .4rem;
  border: 1px solid #aaa;
}

.level-input select {
  display: inline-block;
  padding: 13px 23px 13px 13px;
  font-size: 16px;
  border-radius: 4px;
  color: #484848;
  margin-bottom: .4rem;
  border: 1px solid #aaa;
  cursor: pointer;
  text-indent: 0.01px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: transparent;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.rents, .guests {
  position: relative;
  display: inline-block;
}

.rents {
  width: 61.5%;
}

.guests {
  width: 35.5%;
  margin-left: .4rem;
}

.rents::after, .guests::after {
  content: '';
  width: 6px;
  height: 6px;
  border-bottom: solid 2px black;
  border-right: solid 2px black;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 1em;
  right: 1em;
}

.rent {
  display: inline-block;
  width: 100%;
  font-size: 16px;
}

.guest {
  display: inline-block;
  width: 100%;
  font-size: 16px;
}

.level-start span {
  font-weight: bold;
  font-size: 2em;
  letter-spacing: .4px;
}

.level-btn a {
  padding: 10px 20px;
  background-color: #FF5A5F;
  color: #fff;
  border-radius: 4px;
  width: 100%;
  display: inline-block;
  text-align: center;
}

.middle-md {
  padding: 2.5rem 0 2.5rem 0;
}

.mdmd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.mdmd h3 {
  font-size: 1.5em;
  margin-bottom: 1rem;
}

.md-lt {
  width: 40%;
}

.md-rt {
  width: 40%;
}

.host {
  padding: 4rem 0;
}

.border {
  border: 1px solid #767676;
  margin: 0 auto;
  width: 64px;
}

.h1 {
  text-align: center;
  font-size: 64px;
  margin-top: 0;
}

.steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.step {
  width: 30%;
  height: auto;
}

.step a {
  color: #008489;
}

/* evidences */
.evidences {
  padding: 2rem 0 7rem 0;
}

.evidence {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.fa-quote-left {
  font-size: 38px;
  color: orange;
}

.ev-lt {
  padding-right: 4rem;
  letter-spacing: -1px;
  width: 45%;
}

.quate {
  font-size: 34px;
  margin: 0;
}

.ppp {
  color: #767676;
}

.ev-lt a {
  padding: 10px 20px;
  color: #484848;
  border-radius: 4px;
  border: 2px solid #484848;
  font-weight: bold;
  margin-top: .7rem;
  display: inline-block;
}

.ev-rt img {
  width: 500px;
  max-width: 100%;
  height: auto;
}

/* good */
.good {
  padding: 1rem 0 3rem 0;
}

.protects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.protect {
  width: 40%;
  line-height: 1.75em;
}

.protect a {
  color: #008489;
}

.pro {
  margin-bottom: 1.3rem;
}

.fa-check {
  color: #008489;
  padding-right: .3rem;
}

.bor {
  text-align: center;
  padding: 3.5rem 0;
}

.bor img {
  width: 1048px;
  height: auto;
  max-width: 100%;
}

/* pay */
.pay {
  padding-bottom: 6rem;
}

/* reform */
.reform {
  padding-bottom: 6rem;
}

/* wide */
.wide {
  padding-bottom: 6rem;
}

.mans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: center;
}

.man span {
  font-size: 60px;
}

/* about */
.about {
  padding-bottom: 6rem;
}

/* quetion */
.question {
  padding-bottom: 6rem;
}

.quizes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-size: 20px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.quizz {
  margin-left: 1rem;
}

.quiz a {
  display: block;
  color: #008489;
  border-bottom: 1px solid #eee;
  padding: 1rem 0;
}

.quiz a:hover {
  text-decoration: underline;
}

/* hosting */
.hosting {
  padding-bottom: 6rem;
}

.contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.content {
  margin-right: 1rem;
}

.content img {
  width: 350px;
  border-radius: 4px;
  height: auto;
  max-width: 100%;
}

.content p {
  font-weight: bold;
  color: #484848;
  margin: .7rem 0;
  font-size: 18px;
}

.content span {
  font-size: 14px;
  color: #484848;
  display: block;
}

.content a {
  font-size: 14px;
  color: #008489;
}

/* earns */
.earns {
  padding-bottom: 6rem;
}

.earn {
  max-width: 100%;
  background-image: url(https://a0.muscache.com/pictures/dbe25d99-6821-4e02-802f-fcd7aaef85bc.jpg);
  background-position: center;
  background-size: cover;
  height: 450px;
  width: auto;
  padding: 4rem 0 0 6rem;
}

.earn h1 {
  color: white;
  font-size: 64px;
  line-height: 64px;
}

.btnn a {
  padding: 10px 20px;
  background-color: #fff;
  color: #484848;
  font-weight: bold;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
}

/* ftt */
.fts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  border-bottom: 1px solid #eee;
}

.ft ul {
  padding: 0;
}

.ft h4 {
  margin: 0;
  font-size: .9em;
}

.ft a {
  color: #767676;
  font-size: 15px;
}

.ft a:hover {
  text-decoration: underline;
}

.ft a span {
  padding: 2px 6px;
  background-color: #006a70;
  color: white;
  border-radius: 4px;
  margin-left: .4rem;
}

.sns .fab {
  font-size: 20px;
  padding-left: .2rem;
}

/* footer */
footer {
  font-size: 15px;
  color: #767676;
  padding: 1rem 0 3rem 0;
  letter-spacing: .2px;
}

footer svg {
  font-size: 12px;
  margin-bottom: .7rem;
  margin-right: .2rem;
}

footer a {
  display: inline-block;
  color: #767676;
}

footer a:hover {
  text-decoration: underline;
}

.had {
  display: inline-block;
}

/* btn */
.btn:active {
  opacity: .7;
}

/* モダールウィンドウ */
/* 背景エリア */
#modal-bg {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

/* コンテンツエリア */
#start {
  display: none;
  width: 600px;
  height: auto;
  text-align: center;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 110;
  max-width: 100%;
}

#start svg, .answer svg {
  margin: 1rem 0 0 1rem;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 4px gray;
  box-shadow: 0px 0px 4px gray;
  font-size: 20px;
  padding: 3px;
}

.logs {
  margin: 1rem 2rem;
  font-weight: bold;
  border-bottom: 1px solid #eee;
}

.log a {
  background-color: #4568b2;
  border-radius: 5px;
  margin-bottom: .5rem;
  padding: 10px 20px;
  display: inline-block;
  color: white;
  width: 100%;
}

.log i {
  padding-right: .7rem;
}

.loged a {
  border-radius: 5px;
  border: 2px solid #484848;
  margin-bottom: 1.5rem;
  display: inline-block;
  padding: 10px 20px;
  color: #484848;
  width: 100%;
}

.loged i {
  padding-right: .7rem;
}

.fa-google {
  color: red;
}

.logs span {
  font-weight: normal;
  font-size: 15px;
  padding: 5px 10px;
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: white;
}

#start input {
  display: inline-block;
  width: 90%;
  padding: 15px 25px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #eee;
}

.inps input {
  margin-top: .8rem;
}

.reme {
  margin: 1rem 2rem;
  text-align: left;
  letter-spacing: 1px;
}

.reme input {
  width: 20px !important;
}

.reme span {
  display: inline-block;
}

.reme a, .forget a, .under a {
  font-size: .9em;
  color: #008489;
}

.reme a:hover, .forget a:hover, .under a:hover {
  text-decoration: underline;
}

.reme a {
  margin-left: 5rem;
  display: inline-block;
}

.levels-btn a {
  padding: 10px 20px;
  background-color: #FF5A5F;
  color: #fff;
  border-radius: 4px;
  width: 90%;
  display: inline-block;
  margin-bottom: 1rem;
}

.forget {
  padding-bottom: .8rem;
  border-bottom: 1px solid #eee;
  width: 90%;
  margin: 0 auto;
}

.under {
  padding: 1rem;
}

.under span {
  padding: .5rem;
}

/* アンサーエリア */
.answer {
  display: none;
  width: 600px;
  height: auto;
  text-align: center;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 11;
  max-width: 100%;
}

.answer p {
  padding: 0 2rem;
}

/* ヘッダー背景 */
#modal-bgg {
  display: none;
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

#modal-bgg a {
  color: #484848;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  display: inline-block;
}

#modal-bgg li:first-child {
  padding-top: 4rem;
  line-height: 10px !important;
  border-bottom: 1px solid #eee;
}

#modal-bgg .aaaa a {
  color: #008489;
}
